@import '_content/Blazorise.RichTextEdit/Blazorise.RichTextEdit.ujcws5bfym.bundle.scp.css';
@import '_content/Excubo.Blazor.TreeViews/Excubo.Blazor.TreeViews.ggbo2a6x37.bundle.scp.css';
@import '_content/Volo.Abp.Account.Pro.Public.Blazor.Shared/Volo.Abp.Account.Pro.Public.Blazor.Shared.bt59d6l1jm.bundle.scp.css';
@import '_content/Volo.Abp.PermissionManagement.Blazor/Volo.Abp.PermissionManagement.Blazor.p33ll9g8os.bundle.scp.css';

/* /Components/Pages/Index.razor.rz.scp.css */
/* Getting-Started */
.card-bg-image[b-lm1vm8cb5n] {
    pointer-events: none;
    position: absolute;
    width: 630px;
    height: auto;
    bottom: 0;
    right: 0;
    z-index: 1;
}
.starting-content[b-lm1vm8cb5n] {
    position: relative;
    z-index: 2;
}
/* Getting-Started End */

/* Write here your styles for the Index page */

/* Tùy chỉnh thanh cuộn cho CardBody */
::v-deep .overflow-auto[b-lm1vm8cb5n]::-webkit-scrollbar {
    width: 6px;
}

::v-deep .overflow-auto[b-lm1vm8cb5n]::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 10px;
}
/* /Pages/DocumentWorkflowInstances.razor.rz.scp.css */
.datagrid-detail .table-responsive[b-teazv0gask] {
    min-height: inherit !important;
}

.datagrid-detail .tab-content[b-teazv0gask] {
    padding-top: 0px !important;
}
